name: Create a (Pre)release on NuGet

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+-preview[0-9]+"

jobs:
  release-nuget:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 9.0.x

      - name: Install MAUI workloads
        run: dotnet workload install maui

      - name: Verify commit exists in origin/main
        run: |
          git fetch --no-tags --prune origin +refs/heads/*:refs/remotes/origin/*
          git branch --remote --contains | grep origin/main

      - name: Get version information from tag
        id: get_version
        run: |
          echo "version=${{ github.ref_name }}" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Restore dependencies
        run: dotnet restore samples\DemoApp.csproj

      - name: Build
        run: dotnet build src\MAUIWifiManager\MauiWifiManager.csproj -c Release /p:Version=${{ env.version }}

      - name: Pack
        run: dotnet pack src\MAUIWifiManager\MauiWifiManager.csproj -c Release /p:Version=${{ env.version }} --no-build --output .

      - name: Push
        run: dotnet nuget push "*.nupkg" -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate
